.git
.github
.idea
.cursor
.DS_Store
node_modules
npm-debug.log
yarn-error.log
.phpunit.result.cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
composer-setup.php
.env
.env.*
!.env.example
