name: donationbox-ee
on: [push]
jobs:
  deploy:
    name: Deploy proxy
    runs-on: ubuntu-latest
    steps:
      # This step checks out a copy of your repository.
      - uses: actions/checkout@v2
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only --config fly.donationbox.ee.toml
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
